{% extends 'base_module.html.twig' %}

{% block title %}
    {{title|trans|capitalize}}
{% endblock  %}
{% block page_title %}
    {{ title|trans|capitalize }}
{% endblock %}

{% block page_content %}
<h1>Hello word</h1>
{% endblock %}
